.gameBoard {
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-template-rows: repeat(2, 1fr);
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
}